.footer
  %p
    Mama z Tatą prosili, żebyście napisali im maila, czy przyjedziecie (i czy zostaniecie na noc):
    =link_to 'hajdziory@gmail.com', 'mailto:hajdziory@gmail.com'
    %br
    Piszcie też (albo dzwońcie) jeśli macie jakieś pytania
    %i.icon-smile
    (Mama: 783 680 568, Tata: 723 407 123)

