%h1.center Co się będzie działo

%p.alert
  No Mama mówi, że będę musiała zdmuchnąć ognisko i wybrać czym się będę zajmowała w dorosłym życiu (ach ta reforma szkolnictwa...)

%p Zaczynamy o 14, żeby dzieci mogły się nacieszyć dziecięcym świętem.

%p
  A dokładniej, to wszystko będzie się działo na świeżym powietrzu:
  %ul.harmonogram
    %li
      .hour 14:30
      .task Obiadek: grillowane mięsko Dziadziusia Miecia (pyycha jest!)
    %li
      .hour 16:30
      .task Ciasto Babci Bożenki (mniaam) i tort, tu chyba będę musiała coś robić, ale jeszcze nie wiem co...
    %li
      .hour 17:00 - 20:00
      .task Wy biesiadujecie, a dzieci się bawią, może wybierzemy się na spacer nad jezioro?
    %li
      .hour 20:00
      .task Dzieci już będą w objęciach Morfeusza, a dorośli zasiądą do ogniska przy dźwiękach tatusiowej i wujkowo-garetowej gitary.

= render 'kontakt'
