%h1.center Lista Gości

%p.alert
  Rodzice mówią, że muszę pięknie wyglądać, bo przyjedzie do mnie masa gości! Będę musiała urozmaicić moje ubranko... tylko lepiej kaszką, obiadkiem, czy jagodami? Hm...

%table
  %thead
    %th
      Starszyzna rodowa
    %th
      Młodzież rodowa
    %th
      Latorośle
  %tbody
    %tr
      %td
        %ol
          %li Babcia Bożenka
          %li Dziadziuś Jurek
          %li Babcia Gosia
          %li Dziadziuś Mieciu
          %li Prababcia Zosia
          %li Ciocia Lusia
          %li Ciocia Ula
          %li Wujek Bogdan
          %li Ciocia Aurela
          %li Ciocia Ewa 
          %li Wujek Bogdan

      %td
        %ol
          %li Ciocia Kamila
          %li Wujek Radek
          %li Ciocia Beata
          %li Wujek Sebastian
          %li Wujek Eryk
          %li Ciocia Bernadetta
          %li Wujek Konrad
          %li Wujek Mateusz
          %li Ciocia Justynka
          %li Ciocia Ania
          %li Wujek Radek
          %li Ciocia Asia
          %li Ciocia Ninka
          %li Ciocia Marysia
          %li Wujek Leszek
          %li Wujek Garret
          %li Aha! Mama
          %li No i Tata

      %td
        %ol
          %li Pola
          %li Haneczka
          %li Julka J.
          %li Jasio
          %li Julka L.
          %li Wojtek
          %li i ja, Marysia

= render 'kontakt'
