%h1.center Jajecznica

%p.alert Mam nadzieję, że jak najwięcej z Was zostanie do rana, bo na śniadanie będzie pyszna kaszka z Nutramigenem!

%p
  \...ewentualnie mogę poprosić Rodziców, żeby zrobili Wam jajecznicę
  %i.icon-smile

%p
  Rodzice zasięgnęli języka i okazuje się, że większości z Was możemy zaproponowac nocleg (niektórym pokój, innym łóżko, jeszcze innym materac).
  Będzie on przydzielany według starszeństwa
  %i.icon-smile

%p
  Propozycja podziału miejsc jest taka (wszystko możemy na bieząco zmieniać tak, żeby było Wam jak najwygodniej):

  %ul
    %li Babcia Bożenka i Dziadziuś Jurek: pokój u Dziadków Gosi i Miecia
    %li Ciocia Ewa i Wujek Bogdan: pokój u Dziadków Gosi i Miecia
    %li Ciocia Aurela: łóżko w salonie u Cioci Lusi
    %li Ciocia Kamila: łóżko w salonie u Cioci Lusi
    %li Wujek Garret: materac/namiot
    %li Rodzice: materac/namiot
    %li Ja: moje własne łóżeczko!
    %li
      +3 wolne łóżka u Cioci Uli dla przyjaciół
      %i.icon-smile

  Oczywiście jeśli macie ochotę, wszyscy możecie spać też w namiocie. Jeśli nie macie, Rodzice coś postarają się wykombinować
  %i.icon-smile
%p
  Jest także możliwość nocowania w gospodarstwie agroturystycznym w Wylatkowie: 
  = link_to "Agroturystyka - Bocheńscy", 'http://www.wakacjepowidz.pl'

%p
  Rodzice proszą, żebyście zabrali śpiworki (taki na przykład fajny jak mój! Pożyczyłabym Wam, ale sama w nim chyba będę spała...), albo jakieś kocyki. Jeśli nie macie, dajcie znać Rodzicom.

= render 'kontakt'
