%h1.center Roczek Marysi

%p.center
  Kochane Ciocie, Wujkowie, Kuzynki i Kuzyni!
%p.center
  Chciałabym Was zaprosić na wspólne świętowanie moich pierwszych urodzin!
%p.center
  Jeszcze nie wiem na czym to wszystko polega, ale rodzice mówią, że to fajne jest.
  %br
  I obiecują że nikt już nie będzie mnie polewał zimną wodą, tak jak na chrzcie!

%p.center.bold
  Zapraszam Was zatem
  15 czerwca 2013,
  na godz. 14:00
  do Wylatkowa!
